.about_component{
  height: 30rem;
  width: 40%;
  background-color: aqua;
  border: 2px solid red;
  border-radius: 20px;
  margin-left: 30rem;
  margin-top: 5rem;
  text-align: center;
}
.about_component p{
  margin-top: 3rem;
}

.about_btn{
  background-color: yellow;
  margin-top: 3rem;
  height: 30px;
  width: 30%;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}