.addProduct_component{
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: auto;
  border: 2px solid rgb(231, 225, 225);
  margin-left: 30rem;
  border-radius: 20px;
background: url('https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-4.0.3&w=1200') center/cover;}
.addProduct_head{
  text-align: center;
  font-size: 1.5rem;
}

.addProduct_component label{
  margin-left: 2rem;
  padding: 1rem;
  color: black;
}

.field{
  width: 90%;
  padding: 2px;
}

.textarea{
  width: 90%;
  padding: 2px;
  height: 5rem;
  margin-left: 1.5rem;
  border-radius: 20px;
  padding-left: 10px;
  border: 2px solid gray;
  margin-top: 1rem;

}
.file{
  width: 90%;
  padding: 2px;
  margin-left: 3rem;
  border-radius: 20px;
  padding-left: 10px;
  cursor: pointer;
}

.addProduct_btn{
  background-color: yellow;
  cursor: pointer;;
}