.adminDashBoard_component{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin_btn{
  width: 10%;
  margin-top: 1rem;
  height: 2rem;
  border-radius: 10px;
  background-color: yellow;
  border: none;
  cursor: pointer;
  margin-bottom: 3rem;
}