.cart_Component {
  padding: 40px;
  background-color: #fffaf5;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.cart_Component h2{
  text-align: center;
  font-size: 2rem;
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.cart_grid{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
  margin-bottom: 2rem;
  background-color: rgb(239, 234, 234);
}

.cart_item{
 display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid #f0e4d7;
  border-radius: 12px;
  width: 80%;
  max-width: 900px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cart_image {
  width: 30rem;
  height: 20rem;
  object-fit: fill;
  border-radius: 12px;
}

.cart_details{
  flex: 3;
  margin-left: 20px;
}
.cart_details h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 6px;
  margin-left: 5rem;
}

.cart_details p {
  font-size: 0.95rem;
  color: #555;
  margin-left: 5rem;
}

.remove_btn {
  background-color: #ff4d4d;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: -10rem;
}
.checkout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkout_btn{
  background-color: yellow;
  height: 3rem;
  width: 10rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;

}
