
.home_Component{
  text-align: center;
  padding: 20px;
  margin-left: -10px;
  justify-content: center;
  background-color: rgb(250, 251, 250);
  border: 2px rebeccapurple;
  margin-top: 2rem;
  padding: 2rem;
}


.image{
  width: 85%;
  margin-left: 5rem;
  margin-top: 2rem;
  border-radius: 20px;
  height: 30rem;
  cursor: pointer;
  margin-left: 7rem;
  margin-bottom: 5rem;
}



.product_grid{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  
}

.product_card{
  border: 1px solid #ddd;
  border-radius: 12px;
  width: 280px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transition: 0.3s;
  margin-bottom: 3rem;
}

.product_image{
  height: 15rem;
  
  object-fit: fill;
  border-radius: 20px;
  width: 100%;
  
}

.product_details{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.home_btn{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 2rem;
}

.home_btn_buyNow{
  background-color: yellow;
  height: 2rem;
  width: 7rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  

}

.home_btn_add_cart{
  background-color: yellow;
  height: 2rem;
  width: 7rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.product_card:hover {
  transform: translatey(-4px);
}

.home_btn_buyNow:hover {
  background-color: #0056b3;
}

.home_btn_add_cart:hover{
  background-color: chocolate;
}