.login_container{
  display: flex;
  flex-direction: column;
  height: 20rem;
  width: 40%;
  
  align-items: center;
  margin-left: 25rem;
  margin-top: 10rem;
  border-radius: 20px;
   background: linear-gradient(135deg, #ff9a76 0%, #f4a261 50%, #e76f51 100%);
}
.login_head{
  margin-bottom: 3rem;
  color: #0a090e;
}
.field{
  width: 90%;
  margin-left: 2rem;
  height: 2rem;
  margin-top: 1rem;
  border-radius: 20px;
  border: 2px solid gray;
}
.login_container label{
  margin-left: 2rem;
 align-items: center;
  
}
.login-btn{
  margin-top: 3rem;
  height: 30px;
  width: 20%;
  align-items: center;
  margin-left: 13rem;
  border-radius: 20px;
  border: none;
  background-color: yellow;
  cursor: pointer;
}